@using System.Web.Mvc
@using CMSShoppingCart.Models.ViewModels.Cart

@helper SuccessMessage(TempDataDictionary TempData)
{
    if (TempData["SM"] != null)
    {
        <div class="alert alert-success">
            @TempData["SM"]
        </div>
    }
}

@helper PaypalForm(IEnumerable<CartVM> Model) { 
    int count = 1;
<div class="paypaldiv">
    <input type="hidden" name="cmd" value="_ext-enter">
    <form class="paypalform" action="https://www.sandbox.paypal.com/us/cgi-bin/webscr"
          method="post">
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="business" value="sb-k5j643345253@business.example.com">

        @foreach (var item in Model)
        {
            <input type="hidden" name="item_name_@count"
                   value="@item.PrdouctName">
            <input type="hidden" name="amount_@count" value="@item.Price">
            <input type="hidden" name="quantity_@count" value="@item.Quantity" />
            count++;
        }

        <input type="hidden" name="currency_code" value="USD">
        <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
    </form>
</div>
}